<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tap.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CD94CD672CB8A5B9006C6BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD94CD772CB8A5BA006C6BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CD94CD812CB8A5BA006C6BD0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
